<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>De' Caffe'</title>

<!--Remy Sharp Shim --> 
<!--[if lte IE 9]> 
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" >
</script> 
<![endif]-->

<link href="css/reset.css" type="text/css" rel="stylesheet">
<link href="css/font-awesome.css" type="text/css" rel="stylesheet">

<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />

<link href="css/finalstyle.css" type="text/css" rel="stylesheet">


<!--js for mobile nav-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script>
		$(document).ready(function(){
			$(".nav-button").click(function () {
			$(".nav-button,.primary-nav").toggleClass("open");
			});    
		});
		</script> <!-- end of js -->

<!-- Modernizr -->
  <script src="js/modernizr.js"></script>

  <style type="text/css">
  .flex-caption {
      width: 96%;
      padding: 2%;
      left: 0;
      bottom: 0;
      background:#bbbb77;
      color:rgba(255,238,204);
      font-size: 1.5em;
	  text-align:center;
      line-height:15px;
    }
    li.css a {
      border-radius: 0;
     }
  </style>


</head>

<body>
<div class="top">
<ul id="shop">
<i class="fa fa-shopping-cart" aria-hidden="true"></i>
</ul>


<a href="index2.html">
<img id="logo" src="images/mylogo.png" alt="logo">
</a>

</div>

<nav>
<ul class="nav"> 
<li><a href="index2.html">Home</a></li>
<li class="dropdown">
	<a href="index2.html" class="dropbtn">Coffee</a>
	<div class="dropdown-content">
		<a href="decaf.html">Decaf</a>
		<a href="caff.html">Caffeinated</a>
	</div>
	</li>
	<li><a href="merch.html">Merchandise</a></li>
	<li><a href="brew.html">Brewing</a></li>
	<li><a href="news.html">News & Events</a></li>
	<li><a href="about.html">About</a></li>
</ul> 
</nav>

<!--++++start mobile navigation+++++-->
<button class="nav-button">Toggle Navigation</button>

<ul class="primary-nav">
	<li><a href="index2.html">Home</a></li>
		<li class="parent"><a href="index2.html">Coffee</a>
		<ul>
			<li><a href="decaf.html">Decaf</a></li>
			<li><a href="caff.html">Caffeinated</a></li>
		</ul>
			</li>
	<li><a href="merch.html">Merchandise</a></li>
	<li><a href="brew.html">Brewing</a></li>
	<li><a href="news.html">News & Events</a></li>
			<li><a href="about.html">About</a></li>
		</ul>
<!--++++end mobile navigation+++++-->	

<header>

<a href="">
<img id="decafpg" src="images/coffeefun.jpg" alt="coffeepage">
</a>

</header>

<div id="wrapper">
<main> 
<h1>Caffeinated Coffee</h1>

</main>
 

<div class="box3">

<img id="bag" src="images/officialbag.png" alt="bag">
<img id="bag2" src="images/officialbag.png" alt="bag">

</div> <!--end box3-->

<div class="box4">
<img id="bag3" src="images/officialbag.png" alt="bag">
<img id="bag4" src="images/officialbag.png" alt="bag">
</div> <!--end box4-->


</div> <!--end wrapper-->


<div class="validator">
<a href="http://validator.w3.org/check?uri=referer">Valid HTML 5</a>
&nbsp;&nbsp;
<a href="http://jigsaw.w3.org/css-validator/check/referer">Valid CSS</a>

</div> <!--end validator-->

<footer>

<div id="copyright">
<ul>
<li>Copyright 2016 &copy;</li>
<li>All Rights Reserved</li>
<li><a href="">Concepts by Erin Rose</a></li>
<li>Coffee Shop Address</li>
</ul>

<ul id="social">
<li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
<li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
<li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
</ul>


</div> <!--end copyright-->

</footer>

</body>
</html>