@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@charset "UTF-8";
/* Base Styles */
.cssmenu,
.cssmenu ul,
.cssmenu li,
.cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: .8em;
  position: relative;
 
}

.cssmenu li  {

}
.cssmenu a {
  line-height: 1.3;
}
.cssmenu {
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 3px;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.cssmenu > ul > li {
  margin: 0 0 2px 0;
}
.cssmenu > ul > li:last-child {
  margin: 0;
}
.cssmenu > ul > li > a {
  font-size: 15px;
  display: block;
  color: #4d2600;
  background:tan;
  border: 1px solid #4d2600;
  border-radius:25px;
 
}
.cssmenu > ul > li > a > span {
  display: block;
  border: 1px solid #666666;
  padding: 6px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-weight: bold;
}
.cssmenu > ul > li > a:hover {
  text-decoration: none;
}
.cssmenu > ul > li.active {
  border-bottom: none;
}
.cssmenu > ul > li.active > a {
  background: #bbbb77;
   color: #fff;
  border: 1px solid #79980d;
}
.cssmenu > ul > li.active > a span {
  border: 1px solid #97be10;
}
.cssmenu > ul > li.has-sub > a span {
  background: url(images/icon_plus.png) 98% center no-repeat;
}
.cssmenu > ul > li.has-sub.active > a span {
  background: url(images/icon_minus.png) 98% center no-repeat;
}
/* Sub menu */
.cssmenu ul ul {
  padding: 5px 12px;
  display: none;
}
.cssmenu ul ul li {
  padding: 3px 0;
}
.cssmenu ul ul a {
  display: block;
  color: #595959;
  font-size: 13px;
  font-weight: bold;
}
.cssmenu ul ul a:hover {
  color: #79980d;
}



/*ol li { list-style-type: decimal; }
*/
ol > li { list-style-type: decimal; }
